.sidebar {
    /* margin-top: 10px; */
    /* margin-right: 10px; */
    /* flex: 0.2; */
    /* display: flex;
    justify-content: flex-start; */
    width: fit-content;
    padding: 1rem 3rem 0 0;
    /* margin-top: 1rem; */
    /* border: 0 1rem 1px solid rgb(0, 0, 0) !important; */
    /* border-right: 0.001rem solid #666; */
    background-color: #fff;
    /* position: sticky; */
    /* height: 5rem; */
  }